html{
    color: rgb(117, 117, 117);
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.jogo{
    text-align: center;
    display: block;
}

.click{
    width: 100px;
    height: 100px;
    background-color: rgb(117, 117, 117);
}

.quadro{
    display: flex;
}

