html{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.jogo{
    text-align: center;
    display: block;
    background-color: rgb(119, 127, 134);
    padding: 30px 30px;
    border-radius: 3px;
    border: solid 2px white;
}

.click{
    width: 100px;
    height: 100px;
    background-color: rgb(117, 117, 117);
}

.quadro{
    display: flex;
}

button.zerar{
    width: 80px;
    height: 30px;
    background-color: rgb(117, 117, 117);
}
